@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
$primary-color: #7e74f1;
$secondary-color: #232e35;
$Tertiary-color: #f5f3fe;
$TextColor: #fff;
$fontFamily: "Inter", sans-serif;
